<div class="sidenav">
  <ul class="navlist">
    <li><a href="/#intro">Home</a></li>
    <li><a href="/#about">About</a></li>
    <li><a href="/#skills">Skills</a></li>
    <li><a href="/#portfolio">Portfolio</a></li>
    <li><a href="/#connect">Contact</a></li>
  </ul>
</div>

<div class="compass">
  <span class="icon left"><i class="ss-icon">left</i></span>
</div>
