<div class="sidenav">
  <ul class="navlist">
    <li>Home</li>
    <li>About</li>
    <li>Skills</li>
    <li>Portfolio</li>
    <li>Contact</li>
  </ul>
</div>

<div class="compass">
  <span class="icon left"><i class="ss-icon">left</i></span>
</div>





