<div class="container">
  <div class="sidebar intro"></div>
  <section id="intro">
    <!-- <h1>My name is ryan</h1> -->
  </section>

  <div class="sidebar about"></div>
  <section id="about">
  <!--   <h1>I am an aspiring web developer</h1>
    <p>I'm passionate about design, entrepreneurship, the outdoors, and startups</p> -->
  </section>

  <div class="sidebar skills"></div>
  <section id="skills">

  </section>

  <div class="sidebar portfolio"></div>
  <section id="portfolio">
    <!-- <h1>My experience</h1>
    <p>My Own company</p>
    <p>Founder of Match.com</p>
    <p>Product Lead, Sociogramics</p> -->
  </section>

  <div class="sidebar connect"></div>
  <section id="connect">
    <!-- <p>Github</p>
    <p>Linkedin</p>
    <p>Facebook</p>
    <p>Email</p> -->
  </section>
</div>
